@charset "UTF-8";
div{

   background: white;
	margin:auto;
	width:700px;
	border-radius:12px;	
	margin-top:70px;
}
body{
	background-color:  #babfbd;
}
.details{
	border-radius: 3px; 
    background-color: #dee3e1
    border:1px solid #dee3e1;
    padding-left: 11px;
   margin-left:150px;
    margin-top:-6px;
    height:40px;
    width:400px;
  

}
.details:focus{
	outline:none;
}
.heading{
	
	padding-top:50px;
     padding-bottom: 10px;
     padding-left:60px;
	

}
p{
	
	padding-left:150px;
}
button{
	background-color:#3f4296 ;
	color:white;
    height:40px;
	text-align:center;
	cursor: pointer;
	border:1px solid #3f4296;
    font-size: 17px;
    border-radius:3px;
     margin-top: 20px;
    width:400px;
    margin-bottom:70px;
    margin-left:150px;
    font-weight:bold;
     outline:none;
}

a{
	text-decoration: none;
}